/* icon
user
bag
hearts */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* classe debug */
.debug *{
    border: 1px dashed black;
    background-color: lightgray;
    
}

/* UTILITY */

.container{
    width: 1180px;
    margin: auto;
    
}

.p-abs{
    position: absolute;
}

.flex{
    display:flex;
}

.justify-around{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}

.align-content{
    align-content: center;
}

.align-items{
    align-items: center;
}

/* UTILITY FONT */

.f-small{
    font-size: small;
}

.f-bold{
    font-weight: bold;
}

.f-through{
    text-decoration: line-through;
}


/* COLOR PALETTE */

.c-red{
    color: red;
}






/* HEADER */

header> .container{
    position: fixed;
    top: 0;
    left: 0;
}

header ul{
    align-items: center;
}

header li{
    display: inline-block;
    padding: 0 .5rem
}

.logo{
    height: 30px;  
}

/* MAIN */


.img-card> .alpha, .beta{
    height: 400px;
    display: block;
}

.img-card> .beta{
    position: absolute;
    top:0;
    left:0;
}

.layer{
    position: relative;
}

.brand, .clothing, .price{
    list-style: none;
    
}


/* MAIN ABSOLUTE */

.discount{
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 2px 5px;

    background-color: red;
    color: white;
    
}

