/* icon
user
bag
hearts */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* classe debug */
.debug *{
    border: 1px dashed black;
    background-color: lightgray;
    
}

/* UTILITY */

header, main ul{
    list-style: none;
    
}

.container{
    width: 1180px;
    margin: auto;
}

.p-abs{
    position: absolute;
}

.flex{
    display:flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-around{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;

}

.row-gap{
    gap: 3rem 1rem;
}


.align-content{
    align-content: center;
}

.align-items{
    align-items: center;
}

/* UTILITY FONT */

.f-small{
    font-size: small;
}

.f-bold{
    font-weight: bold;
}

.f-through{
    text-decoration: line-through;
}


/* COLOR PALETTE */

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-white{
    background-color: whitesmoke;
}

.c-red{
    color: red;
}






/* HEADER */

header> .container{
    position: fixed;
    top: 0;
    left: 0;
}

header ul{
    align-items: center;
}

header li{
    display: inline-block;
    padding: 0 .5rem
}

.logo{
    height: 30px;  
}

/* MAIN */


.img-card > .alpha, .beta{
    height: 450px;
    display: block;
}

.img-card > .alpha{
    position: absolute;
    top: 0;
    left: 0;
    
}

.img-card > .beta{
    position: relative;
    top:0;
    left:0;
}

.img-card:hover .alpha{
    z-index: 1; 
}


.p-relative{
    position: relative;
}



/* MAIN ABSOLUTE */

.labels{
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: 0;
}


.discount, .sustainability{
    
    display: inline-block;
    padding: 2px 5px;
    color: white;
    font-weight: bold;
    font-size: small;

}

.hearts{
    position: absolute;
    z-index: 1;
    top: 2%;
    right: 0;
    padding: 2px 10px;
    font-size: x-large;
}

.hearts:hover{
    color: red;
}




